<div class="container">
	
	<div class="row">
	    <div class="center col s12">
			<img src="/assets/images/emburger_200.jpg" alt="Hamburger Helper App">
	        <h1>Hamburger Helper App</h1>
	        <p></p>
	    </div>
  	</div>
	<!-- end row -->

	<div class="row">
		<div class="col s12">
			<div class="col s5">
				<h2>Burgers Available To Eat!</h2>
					<ul>
					  {{#each burgers}}
					    {{#unless this.devoured}}
					      <li>
					      	#
					      	{{this.id}}
					        {{this.burger_name}}

					        <form action="/{{this.id}}?_method=POST" method="POST">
					          <input type="hidden" name="devoured" value="true">
					          <button class="btn-primary" type="submit">Devour It!</button>
					        </form>

					      </li>
					    {{/unless}}
					  {{/each}}
					</ul>
		    </div>
		    <div class="col s5">
				<h2>Burgers That Have Been Eaten!</h2>
				<ul>
				  {{#each burgers}}
				    {{#if this.devoured}}
				      <li>
				      	#
				      	{{this.id}}
				        {{this.burger_name}}
				      </li>
				    {{/if}}
				  {{/each}}
				 </ul>
		    </div>

		</div>
	</div>
	<!-- end row for displaying Available and Eaten Burgers -->
	<div class="row">
		    <div class="center col s12">

				<h2>Add A Burger!</h2>

				<form class="create-update-form" action="/" method="POST">

				  <div class="form-group">
				    <p>Enter a burger you want to order and click the Submit Order button.</p>
				    <input type="text" id="ca" name="burger_name">
				  </div>
				  
				  <button class="btn-primary" type="submit">Submit Order</button>
				</form>

		    </div>
		
	</div>
	<!-- end row for adding a burger -->

</div> <!-- end container -->